body {background-image: url(./Assets/Images/stretchbaby.png) ;
}

#profpic {float: left;
    margin-right: 5%;
    margin-left: 3%;
}
h1 {
    font-family: 'Playfair Display', serif;
    
}
#name {
    font-family: 'Playfair Display', serif;
}
footer {
    border-top: 5px solid rgb(23,162,184);
}

@media screen and (max-width: 768px) {
    .row {
        margin-right: 5%;
    }
   
    }
